<package-def>
	<class name="КомандаСправкаПоПараметрам" file="src/Классы/КомандаСправкаПоПараметрам.os"/>
	<class name="КомандаИзменитьВерсиюПодсистемы" file="src/Классы/КомандаИзменитьВерсиюПодсистемы.os"/>
	<class name="КомандаСоздатьФайлОбновления" file="src/Классы/КомандаСоздатьФайлОбновления.os"/>
	<class name="КомандаОбновитьХранилищеИзФайла" file="src/Классы/КомандаОбновитьХранилищеИзФайла.os"/>
	<class name="КомандаОбновитьИБИзХранилища" file="src/Классы/КомандаОбновитьИБИзХранилища.os"/>
	<module name="МенеджерКомандПриложения" file="src/Модули/МенеджерКомандПриложения.os"/>
	<module name="ЗапускПриложений" file="src/Модули/ЗапускПриложений.os"/>
</package-def>