<package-def>
	<class name="КомандаСправкаПоПараметрам" file="Классы/КомандаСправкаПоПараметрам.os"/>
	<class name="КомандаИзменитьВерсиюПодсистемы" file="Классы/КомандаИзменитьВерсиюПодсистемы.os"/>
	<class name="КомандаСоздатьФайлОбновления" file="Классы/КомандаСоздатьФайлОбновления.os"/>
	<class name="КомандаОбновитьХранилищеИзФайла" file="Классы/КомандаОбновитьХранилищеИзФайла.os"/>
	<class name="КомандаОбновитьИБИзХранилища" file="Классы/КомандаОбновитьИБИзХранилища.os"/>
	<module name="МенеджерКомандПриложения" file="Модули/МенеджерКомандПриложения.os"/>
	<module name="ЗапускПриложений" file="Модули/ЗапускПриложений.os"/>
</package-def>